
.name_header{
  text-align: center;
  top: 0;
  padding: 0px;
  position: relative;
  margin: 0px;
  background: linear-gradient(to bottom, #000000 13%,#363b82 27%,#599dd1 34%,#ffffff 45%,#341f49 51%,#933f8a 64%,#933f8a 74%,#e060dc 90%,#ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #F19FCD 0 10px 60px;
  }




h1 {
    color: white;
    font-size:50px;
    font-weight: normal;
}

h2 {
    color: white;
    font-weight:normal;
}

p {
    font-size:20px;
    color: white;
    font-weight:normal;
}

.big-text{
    font-size: 75px;
    font-weight: bold;
}

div {
text-shadow: white 0px 0px 15px;
}


#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1920px;
  max-height: 1080px;
  z-index:-1;
}


.textcols {
	display: table;
	width: 1080px;
	border-collapse: collapse;
}
.textcols-row {
	 display: table-row;
}
.textcols-item {
	display: table-cell;
	width: 50%;
	vertical-align: top;
	padding: 0;

}
.textcols-row .textcols-item:first-child {
	border-right: 30px solid #fff;
}
.textcols-row .textcols-item:last-last {
	border-left: 30px solid #fff;
}

img {
    max-width:200px;
    border-radius:20px;
}

.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

body {
    background-color: #02000D;
    font-family: "MyFont";

}

@font-face {
    font-family: "MyFont";
    src : url("../fonts/Rocket Rinder.otf");
    font-weight: normal;
    font-style: normal;
}
