<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Ivan Mityushkin Data</title>
</head>
<header>
  <h1 class="name_header">
      Ivan Mityushkin
  </h1>
</header>
<body>


<video autoplay muted loop id="myVideo">
  <source src="../video/Retrowave - The Grid.mp4" type="video/mp4">
</video>
<h1>I`m 18 y.o.</h1>
<h2>Studying in HSE MIEM</h2>
<p>I love programming</p>







</body>

</html>